@page "/admin/elever"
@using Modeller
@inject HttpClient Http

<h3 class="text-xl font-bold mb-4">Elevoversigt</h3>

@if (elever == null)
{
    <p>Indlæser elever...</p>
}
else if (!elever.Any())
{
    <p>Ingen elever fundet.</p>
}
else
{
    <table class="table table-striped w-full">
        <thead>
            <tr>
                <th>ID</th>
                <th>Brugernavn</th>
                <th>Email</th>
                <th>Startdato</th>
                <th>Rolle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elev in elever)
            {
                <tr>
                    <td>@elev.Id</td>
                    <td>@elev.Username</td>
                    <td>@elev.Role</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Modeller.UserModel>? elever;

    protected override async Task OnInitializedAsync()
    {
        elever = await Http.GetFromJsonAsync<List<Modeller.UserModel>>("api/users/elevs");
    }
}
