@inherits LayoutComponentBase

<!-- Link til din eksterne CSS-fil -->
<link href="css/login.css" rel="stylesheet" />

<div class="login-page">
    <div class="login-content">
        <img src="ComwellLogo2.png" alt="Comwell logo" class="login-logo" />
        <div class="login-welcome">Velkommen tilbage – log ind for at fortsætte</div>
        @Body
    </div>
</div>
