@inherits LayoutComponentBase
@inject UserState UserState
@inject NavigationManager NavManager
@implements IDisposable

<div class="d-flex">
    <!-- Sidebar -->
    <div>
        <NavMenu />
    </div>

    <!-- Hovedindhold -->
    <div class="flex-grow-1">
        <!-- Topbar -->
       

        <!-- Sideindhold -->
        <div class="p-4 dark-admin-bg">
            @Body
        </div>
    </div>
</div>

@code {
    private bool initialized = false;

    private async Task InitializeUser()
    {
        if (!initialized)
        {
            initialized = true;
            await UserState.InitializeAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeUser();
        }
    }

    private async void Logout()
    {
        await UserState.LogoutAsync();
        NavManager.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
}
